config/fish/fish_variables

# Fishy things
config/fish/completions
config/fish/conf.d
config/fish/functions

# neovim lazy lock
# Different install may have different mason plugins
config/nvim/lazy-lock.json

