# basics
zen-browser-bin neovim tmux fish fisher htop ttf-iosevka-nerd ttf-iosevkatermslab-nerd starship eza timeshift

# development
docker docker-compose

# neovim config
# https://github.com/Araozu/neovim-setup.git

ghostty fuzzel river waybar tmux wlr-randr river-bsp-layout

# notifications
# https://wiki.archlinux.org/title/Desktop_notifications
libnotify mako

brightnessctl
# Make sure you're in the video group:
# sudo usermod -aG video $USER

