/* ~/.config/waybar/style.css */
* {
    font-family: "Iosevka Aile", "IosevkaTermSlab Nerd Font", monospace;
    font-size: 12px;
}

window#waybar {
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
    color: white;
}

#tags button {
    padding: 0 5px;
    color: rgba(255, 255, 255, 0.95);
    border-radius: 0;
    /*background: rgba(100, 100, 100, 0.25);*/
}

#tags button:first-child {
    border-radius: 5px 0 0 5px;
}

#tags button:last-child {
    border-radius: 0 5px 5px 0;
}

#tags button.focused {
    background: #284777;
    color: #d6e3ff;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio {
    padding: 0 10px;
}

#window {
    padding-left: 12px;
}

